<h1>Welcome to Student Information Portal</h1>

<%= link_to 'Records entered', controller: 'biodata' %>

<p>
<%= link_to 'New Registration', controller: 'biodata/new' %>
</p

<p>
<p>Make sure you fill in every required information</p>
</p>